.OrderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.OrderDetailsNumber{
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}