.profileMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.profileMenuContainer {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.profileForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}